body {
  color: #383A3B;
  background-color: #CBF2EE;
  text-align: center;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 2.5em;
  margin-bottom: 10px;
}
h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  text-align: left;
  padding: 15px 60px 0;
  margin-bottom: 0;
}
.container {
  border: 2.5px solid #fff;
  width: 650px;
  max-width: none;
  margin: 40px auto 0;
  background-color: #EDF0EF;
}
p {
  color: #383A3B;
  font-family: 'Lora', serif;
  font-style: italic;
  padding: 0 60px 25px;
  text-align: left;
}
li {
  display: inline;
  text-decoration: none;
  padding-right: 35px;
  font-family: 'Lora', serif;
  font-size: 1.15em;
  list-style-type: none;
  margin-top: 10px;
}
ul {
  margin-top: 10px;
}
a {
  text-decoration: none;
  padding: 2px 4px;
}
a:hover {
    background-color: white;
}
a:link {
    color: black;
}
a:hover {
    color: black;
}
a:visited {
    color: #606161;
}
.quokka {
  width: 400px;
  padding-bottom: 30px;
}
